.back_color{
    --background: #ffffff;
  }
  
  .header_color{
    --ion-background-color : rgb(55, 140, 238);
    color: aliceblue;
}
// .back_color{
//     --background: #fff url('../../assets/event1.jpg') no-repeat center center / cover;

// }
.send_center{
   color: #2e8ae0;
}
.forget_style{
    color: #000000;
}
.textbox_style{
    --ion-background-color :  rgb(242, 247, 245);
    --border-radius : 20px;
  
  }

    