.back_color{
  --background: #ffffff;
}

.textbox_style{
    --ion-background-color :  #f2f7f5;
    --border-radius : 30px;
    outline-color: #5c5252;
  
  }
  .head{
    border-bottom: 5px tomato;
    
}
.header_color{
  --ion-background-color : rgb(55, 140, 238);
  color: aliceblue;
}

//   .back_color{
//     --background: linear-gradient(197deg, rgb(187, 121, 171) 0%, rgb(187, 119, 176) 13.5%, rgb(142, 78, 143) 43.33%, rgb(132, 66, 138) 43.33%);
      
    
// }

.send_center{
   
    // margin-inline-start: auto;
    // margin-inline-end: 40px;
    --ion-color-primary: rgb(39, 132, 219);
}

.grid_style{
    
    border: #000000;
    border: solid 1px rgb(0, 0, 0);
    margin: 1%;
    border-radius: 20px;
//    --ion-grid-padding: 20%;
    // --ion-grid-width-xl: 600px;
    
}
.grid_style1{
    background-color: #ebab21;
    border: #000000;
    border: solid 1px rgb(0, 0, 0);
    margin: 1%;
    border-radius: 20px;
    

}

.ion-grid1 {
    background-color: #f7f7f7;
      border: solid 1px #ddd;
      padding: 20px;
      background-color: #e93544;
      border-radius: 20px;
    //   --ion-safe-area-top: 30px;
    //   --ion-safe-area-bottom: 22px;
    ;
  }
  .ion-grid2 {
    background-color: #f7f7f7;
      border: solid 1px #ddd;
      padding: 20px;
      background-color: #e2f535;
      border-radius: 20px;
    //   --ion-safe-area-top: 30px;
    //   --ion-safe-area-bottom: 22px;
     
  }
  .ion-grid3 {
    background-color: #f7f7f7;
      border: solid 1px #ddd;
      padding: 20px;
      background-color: #929b9c;
      border-radius: 20px;
    //   --ion-safe-area-top: 30px;
    //   --ion-safe-area-bottom: 22px;
     
  }
  .ion-grid4 {
    background-color: #f7f7f7;
      border: solid 1px #ddd;
      padding: 20px;
      background-color: #12d412;
      border-radius: 20px;
      
    //   --ion-safe-area-top: 30px;
    //   --ion-safe-area-bottom: 22px;
     
  }
  .ion-grid5 {
    background-color: #f7f7f7;
      border: solid 1px #ddd;
      padding: 20px;
      background-color: #1246d4;
      border-radius: 20px;
    //   --ion-safe-area-top: 30px;
    //   --ion-safe-area-bottom: 22px;
     
  }
  .ion-grid6 {
    background-color: #f7f7f7;
      border: solid 1px #ddd;
      padding: 20px;
      background-color: #fc29fc;
      border-radius: 20px;
    //   --ion-safe-area-top: 30px;
    //   --ion-safe-area-bottom: 22px;
    
  }
 