.header_color{
  --ion-background-color : rgb(55, 140, 238);
  color: aliceblue;
}

.textbox_style{
    --ion-background-color :  rgb(242, 247, 245);
    --border-radius : 15px;
  
  }
  .back_color{
    --background: #ffffff;
  }
  