<ion-menu side="end">

<ion-header>
  <ion-toolbar class="header_color">
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="back_color">

  <ion-list>
    <ion-item>
      <!-- <ion-icon name="home" slot="end"></ion-icon> -->
      <ion-label (click)='accountSetting()'>Account Setting</ion-label>
    </ion-item>
    <ion-item>
      <!-- <ion-icon name="person" slot="end"></ion-icon> -->
      <ion-label (click)='Notifications()'>Manage Notificaions</ion-label>
    </ion-item>
    <ion-item>
      <!-- <ion-icon name="chatbubbles" slot="end"></ion-icon> -->
      <ion-label (click)='Payment()'>Payments</ion-label>
    </ion-item>
    <ion-item>
      <!-- <ion-icon name="chatbubbles" slot="end"></ion-icon> -->
      <ion-label (click)='qrCode()'>QRCode</ion-label>
    </ion-item>
    <ion-item>
      <!-- <ion-icon name="chatbubbles" slot="end"></ion-icon> -->
      <ion-label (click)='Help()'>Help</ion-label>
    </ion-item>
    <ion-item>
      <!-- <ion-icon name="chatbubbles" slot="end"></ion-icon> -->
      <ion-label (click)='AboutApp()'>About app</ion-label>
    </ion-item>
    <ion-item>
      <!-- <ion-icon name="settings" slot="end"></ion-icon> -->
      <ion-label (click)="logout()">Logout</ion-label>
    </ion-item>
  </ion-list>
  

</ion-content>
</ion-menu>
<div class="ion-page" main>
  <ion-header>
    <ion-toolbar class="header_color">
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">

    <ion-card>

      <img src="./assets/backprofile.jpg">
      
        <ion-avatar  class="image">
          <img src="./assets/profile.png" >
        </ion-avatar>
     
    <ion-card-content >
      <ion-card-title text-center>
        GESCOE
      </ion-card-title>
       <p>R.H.Sapat college of engineering</p>
       <p>College Road nashik</p><br>
       <ion-item>
        <ion-label>Followers</ion-label>
        <ion-badge color="light" >100</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Following</ion-label>
        <ion-badge color="light" >200</ion-badge>
      </ion-item>
       
      </ion-card-content>

  </ion-card>
    
  </ion-content>
</div>

