.header_color{
  --ion-background-color : rgb(55, 140, 238);
  color: aliceblue;
}
 
 .fontStyle {
    // --background-color: rgb(212, 23, 102);
    // --padding-bottom: 0px;
    // --padding-top: 0px;
    // --margin-bottom: 0px;
    // --margin-top: 0px;\

    font-size: x-small;

  }

  .seg_style{
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }

// //  .seg_btn{
// //     -background: rgb(212, 23, 102);
// //   }
// .back_color{
//     //--ion-background-color : rgb(53, 158, 177);
//       //height: 200px;
//       //background-color: rgb(160, 206, 214); /* For browsers that do not support gradients */
//       //background-image: linear-gradient(rgb(53, 158, 177),white); /* Standard syntax (must be last) */
//           --background: linear-gradient(197deg, #e07162 0%, rgb(228, 116, 112) 13.5%, rgb(236, 79, 119) 43.33%, rgb(212, 57, 70) 100%);
      
    
// }



