<ion-header class="head">
  <ion-toolbar class="header_color">
    <ion-title>Register1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="back_color">
  <div class="ion-padding">

    <form [formGroup]="RegisterForm">
      <ion-grid>
        <ion-row color="primary" class="justify-content-center">
          <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
           
            <div class="ion-padding">
              <br class="br_line">
              <ion-grid>
                <ion-row style="height: h">
                  <ion-col class="ion-grid1"  >
                    <div></div>
                  </ion-col>
                  <ion-col class="ion-grid2" >
                    <div></div>
                  </ion-col>
                  <ion-col class="ion-grid3">
                    <div></div>
                  </ion-col>
                  <ion-col class="ion-grid4">
                    <div></div>
                  </ion-col>
                  <ion-col  class="ion-grid5">
                    <div></div>
                  </ion-col>
                  <ion-col class="ion-justify-content-around" class="ion-grid6">
                    <div></div>
                  </ion-col>
                
                </ion-row>
              
              </ion-grid>

            <ion-grid class="grid_width">

              <ion-row>
                
                <ion-col class="ion-justify-content-around" class="grid_style1"><div>   </div></ion-col >
                <ion-col class="ion-justify-content-around" class="grid_style1"><div> 1 </div></ion-col>
                <ion-col class="ion-justify-content-around" class="grid_style1"><div> 2 </div></ion-col>
                <ion-col class="ion-justify-content-around" class="grid_style1"><div> 3 </div></ion-col >
                <ion-col class="ion-justify-content-around" class="grid_style1"><div> 4 </div></ion-col>
                <ion-col class="ion-justify-content-around" class="grid_style1"><div> 5 </div></ion-col>
                <ion-col class="ion-justify-content-around" class="grid_style1"><div> 6 </div></ion-col>
                
              </ion-row>

              <ion-row>
                <ion-col class="ion-justify-content-around" class="grid_style1"><div> 1 </div></ion-col>
                <ion-col class="ion-justify-content-around" class="grid_style"><div>  </div></ion-col>
                <ion-col class="ion-justify-content-around" class="grid_style"><div> </div></ion-col>
                <ion-col class="ion-justify-content-around" class="grid_style"><div>  </div></ion-col>
                <ion-col class="ion-justify-content-around" class="grid_style"><div>  </div></ion-col>
                <ion-col class="ion-justify-content-around" class="grid_style"><div>  </div></ion-col>
                <ion-col class="ion-justify-content-around" class="grid_style"><div>  </div></ion-col>

              </ion-row>

              <ion-row>
                
                <ion-col class="ion-justify-content-around" class="grid_style1"><div> 2 </div></ion-col>
                <ion-col class="ion-justify-content-around" class="grid_style"><div>  </div></ion-col>
                <ion-col class="ion-justify-content-around" class="grid_style"><div>  </div></ion-col>
                <ion-col class="ion-justify-content-around" class="grid_style"><div>  </div></ion-col >
                <ion-col class="ion-justify-content-around" class="grid_style"><div>  </div></ion-col>
                <ion-col class="ion-justify-content-around" class="grid_style"><div>  </div></ion-col>
                <ion-col class="ion-justify-content-around" class="grid_style"><div>  </div></ion-col>

              </ion-row>
              <ion-row>
                
                <ion-col class="ion-justify-content-around" class="grid_style1"><div> 3 </div></ion-col>
                <ion-col class="ion-justify-content-around" class="grid_style"><div>  </div></ion-col>
                <ion-col class="ion-justify-content-around" class="grid_style"><div>  </div></ion-col>
                <ion-col class="ion-justify-content-around" class="grid_style"><div>  </div></ion-col >
                <ion-col class="ion-justify-content-around" class="grid_style"><div>  </div></ion-col>
                <ion-col class="ion-justify-content-around" class="grid_style"><div>  </div></ion-col>
                <ion-col class="ion-justify-content-around" class="grid_style"><div>  </div></ion-col>

              </ion-row>
              <ion-row>
                
                <ion-col class="ion-justify-content-around" class="grid_style1"><div> 4 </div></ion-col>
                <ion-col class="ion-justify-content-around" class="grid_style"><div>  </div></ion-col>
                <ion-col class="ion-justify-content-around" class="grid_style"><div>  </div></ion-col>
                <ion-col class="ion-justify-content-around" class="grid_style"><div>  </div></ion-col>
                <ion-col class="ion-justify-content-around" class="grid_style"><div>  </div></ion-col>
                <ion-col class="ion-justify-content-around" class="grid_style"><div>  </div></ion-col>
                <ion-col class="ion-justify-content-around" class="grid_style"><div>  </div></ion-col>

              </ion-row>
              <ion-row>
                
                <ion-col class="ion-justify-content-around" class="grid_style1"><div> 5 </div></ion-col>
                <ion-col class="ion-justify-content-around" class="grid_style"><div>  </div></ion-col>
                <ion-col class="ion-justify-content-around" class="grid_style"><div>  </div></ion-col>
                <ion-col class="ion-justify-content-around" class="grid_style"><div>  </div></ion-col>
                <ion-col class="ion-justify-content-around" class="grid_style"><div>  </div></ion-col>
                <ion-col class="ion-justify-content-around" class="grid_style"><div>  </div></ion-col>
                <ion-col class="ion-justify-content-around" class="grid_style"><div>  </div></ion-col>

              </ion-row>
              <ion-row>
                
                <ion-col class="ion-justify-content-around" class="grid_style1"><div> 6 </div></ion-col>
                <ion-col class="ion-justify-content-around" class="grid_style"><div>  </div></ion-col>
                <ion-col class="ion-justify-content-around" class="grid_style"><div>  </div></ion-col>
                <ion-col class="ion-justify-content-around" class="grid_style"><div>  </div></ion-col>
                <ion-col class="ion-justify-content-around" class="grid_style"><div>  </div></ion-col>
                <ion-col class="ion-justify-content-around" class="grid_style"><div>  </div></ion-col>
                <ion-col class="ion-justify-content-around" class="grid_style"><div>  </div></ion-col>

              </ion-row>
              </ion-grid>

              <ion-item class="textbox_style"><ion-icon name="lock"></ion-icon>&nbsp;
                <ion-input  type="number" placeholder="Enter password"  required></ion-input>
              </ion-item><br>

                <!-- <div>
                    <br>
                    <a href="" slot="secondary"  [routerLink]="['/help']" class="forget_style">help</a>
                </div> 
              <br class="br_line"> -->
    
              <div>
                <ion-button color="success" size="medium" class="send_center" shape="round" (click)="onRegister()"  Responsive>Register</ion-button>
                <!-- <ion-button  fill="outline" size="medium" class="send_center" shape="round" (click)="back()" Responsive>Back</ion-button> -->
              </div>
              <div class="forget_style">
                <br>
                Already Registered?
                <a href="" [routerLink]="['/login']">login Here</a>
            </div>

            </div>

          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>


</ion-content>

