<ion-header class="head">
  <ion-toolbar class="header_color">
    <ion-title>
      CommunityApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="back_color">
  <div class="ion-padding">
    
      <form [formGroup]="RegisterForm">
          <ion-grid>
            <ion-row color="primary" class="justify-content-center">
              <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">

                
                    <!-- <div class="forget_style">
                        <br>
                        Already Registered?
                        <a href="" [routerLink]="['/login']">login Here</a>
                    </div>
                    <div class="forget_style">
                      <br>
                      Tabs
                      <a href="" [routerLink]="['/tabs']"  >go to tabs</a>
                  </div>  -->
                   
                  <!-- <div>
                    <br>
                  tabspage
                    <a href="" [routerLink]="['/tabs']" class="forget_style">tabs Here</a>
                </div> -->

                     
    
               
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </div>
  </ion-content>                  

